---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import BigTitle from "../components/BigTitle.astro";
const allPosts = await Astro.glob("../pages/blog/*.md");
const title = "Blog";
---

<BaseLayout title={title}>
  <div class="mx-auto max-w-full px-4 md:max-w-4xl xl:max-w-7xl">
    <BigTitle>{title}</BigTitle>
    <ul
      class="grid justify-items-center gap-x-4 gap-y-8 pb-16 md:grid-cols-2 xl:grid-cols-3"
    >
      {
        allPosts.map((post) => (
          <li>
            <BlogPost
              url={post.url || ""}
              title={post.frontmatter.title}
              pubDate={post.frontmatter.pubDate}
              description={post.frontmatter.description}
              author={post.frontmatter.author}
            />
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
