---
import { type CollectionEntry } from "astro:content";
import DataPrivacySVG from "./DataPrivacySVG.astro";
import BackendSVG from "./BackendSVG.astro";
import ZeroCostsSVG from "./ZeroCostsSVG.astro";
import SocialConnectionSVG from "./SocialConnectionSVG.astro";
import NoSqlSVG from "./NoSqlSVG.astro";
import AuthenticationSVG from "./AuthenticationSVG.astro";

interface Props {
  feature: CollectionEntry<"features">;
}

const {
  feature: { slug, collection, data },
} = Astro.props;
---

<div class="card bg-base-200">
  <div class="card-body">
    <div class="mx-auto py-8">
      {
        slug === "privacy-and-data" && (
          <DataPrivacySVG className="card-svg hover-glow" />
        )
      }
      {
        slug === "truly-backendless" && (
          <BackendSVG className="card-svg hover-glow" />
        )
      }
      {
        slug === "zero-running-costs" && (
          <ZeroCostsSVG className="card-svg hover-glow" />
        )
      }
      {
        slug === "social" && (
          <SocialConnectionSVG className="card-svg hover-glow" />
        )
      }
      {
        slug === "realtime-databases" && (
          <NoSqlSVG className="card-svg hover-glow" />
        )
      }
      {
        slug === "authentication" && (
          <AuthenticationSVG className="card-svg hover-glow" />
        )
      }
    </div>
    <h2 class="card-title">
      <a href={`/${collection}/${slug}`}>{data.title}</a>
    </h2>
    <p>{data.summary}</p>
    <div class="card-actions justify-end pt-8">
      <!-- focus:active:transform-none is needed to override daisyUI a button style which scales the button and breaks the stretched-link styling -->
      <a
        href={`/${collection}#${slug}`}
        class="stretched-link btn btn-outline btn-sm focus:active:transform-none"
      >
        Learn More &rarr;
      </a>
    </div>
  </div>
</div>

<style is:global>
  /* move to global place! */
  /* cover card with link to make the whole card clickable. Links can't wrap block elements */
  .stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
  }
  .card .card-svg {
    fill: #fff;
    opacity: 0.4;
    width: 100px;
  }
  .card:hover .hover-glow {
    opacity: 1;
    filter: drop-shadow(0px 0px 6px #db9a59);
  }
</style>
