---
import { getEntry } from "astro:content";
import FeatureCard from "./FeatureCard.astro";

const privacyAndData = await getEntry("features", "privacy-and-data");
const backendless = await getEntry("features", "truly-backendless");
const zeroRunningCosts = await getEntry("features", "zero-running-costs");
const social = await getEntry("features", "social");
const noSql = await getEntry("features", "realtime-databases");
const authentication = await getEntry("features", "authentication");
---

<div
  class="mx-auto grid max-w-screen-2xl gap-4 px-4 py-8 md:grid-cols-2 lg:grid-cols-3"
>
  <FeatureCard feature={privacyAndData} />
  <FeatureCard feature={backendless} />
  <FeatureCard feature={zeroRunningCosts} />
  <FeatureCard feature={social} />
  <FeatureCard feature={noSql} />
  <FeatureCard feature={authentication} />
</div>
<div class="text-center">
  <a href="/features" class="link-hover link text-lg text-white"
    >Explore our Features &rarr;</a
  >
</div>
